body {
  background-color:#f9f7ef;
  color: #000;
  font-family: sans-serif;
}

#title {
  display: block;
  margin: 0 auto;
}

h1 {
  display: block;
  font-size: 3em;
  text-align: center;
  margin: 40 auto;
}


#clear {
  height: 40px;
  width: 80px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  background-color: #c9c9c9;
}

#clear p {
  text-align: center;
  line-height: 40px;
  margin: auto;
}

#container {
  margin-top: 10px;
  width: 800px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.block_row {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-width: 0;
}

.block {
  display: inline-block;
  text-align: justify;
  opacity: 0;
  background-color: lightgray;
  border-width: 1px;
  margin: 0 auto;
  padding: 0;
}
