body {
  background-color:#f9f7ef;
  color: #000;
  font-family: sans-serif;
}

#title {
  display: block;
  margin: 0 auto;
}

h1 {
  display: block;
  font-size: 3em;
  text-align: center;
  margin: 50 auto;
}

#clear {
  height: 40px;
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #c9c9c9;
}

#clear p {
  text-align: center;
  line-height: 40px;
}

#container {
  margin-top: 10px;
  width: 800px;
  height: 800px;
  background-color: blue;
}
